{{set . "title" "个人中心"}}
{{append . "moreStyles" "css/demos.css"}}
{{append . "moreScripts" "js/jquery.validate.min.js"}}
{{append . "moreScripts" "js/jquery.form.min.js"}}
{{template "header.html" .}}

<header class="demos-header">
    <h1 class="demos-title">个人信息</h1>
</header>
<form id="userForm">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="name" placeholder="请输入姓名">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">学号</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="number" type="number" pattern="[0-9]*" placeholder="请输入学号">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">身份证号</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="idcard"  placeholder="请输入身份证号">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">邮箱</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="email" placeholder="请输入邮箱">
            </div>
        </div>
        {{/*<div class="weui-cell">*/}}
            {{/*<div class="weui-cell__hd"><label for="" class="weui-label">出生日期</label></div>*/}}
            {{/*<div class="weui-cell__bd">*/}}
                {{/*<input class="weui-input" type="date" value="">*/}}
            {{/*</div>*/}}
        {{/*</div>*/}}

    </div>
    <div class="weui-btn-area">
        <button class="weui-btn weui-btn_primary">绑定</button>
    </div>
</form>
<script>
    $(function(){
        $("#userForm").validate({
            submitHandler:function(){
                $('#userForm').ajaxSubmit({
                    type:'post',
                    url:'/app/bindInfo',
                    success:function(data){
                        if(data.code==0){
                            $.toast(data.msg,"cancel")
                        }else{
                            $.toast("绑定成功");
                            setTimeout('window.history.go(-1)',2000);
                        }
                    },
                    error:function(){
                        $.toast("信息获取失败","cancel")
                    }
                })
            }
        });
    })
</script>
{{template "footer.html" .}}
