{{set . "title" "个人中心"}}
{{append . "moreStyles" "css/demos.css"}}
{{append . "moreScripts" "js/jquery.form.min.js"}}
{{template "header.html" .}}

<header class="demos-header">
    <h1 class="demos-title">个人信息</h1>
</header>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" value="{{.user.Name}}" readonly>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">学号</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" value="{{.user.StuId}}" readonly>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">身份证号</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" value="{{.user.Idcard}}" readonly>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">邮箱</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" value="{{.user.Email}}" readonly>
        </div>
    </div>
    {{/*<div class="weui-cell">*/}}
        {{/*<div class="weui-cell__hd"><label for="" class="weui-label">出生日期</label></div>*/}}
        {{/*<div class="weui-cell__bd">*/}}
            {{/*<input class="weui-input" readonly>*/}}
        {{/*</div>*/}}
    {{/*</div>*/}}

</div>
<div class="weui-btn-area">
    <a href="/app/unBind" class="weui-btn weui-btn_warn">解除绑定</a>
</div>
{{template "footer.html" .}}
