{{set . "title" "问答"}}
{{append . "moreScripts" "js/jquery.form.min.js"}}
{{append . "moreScripts" "admin/question.js"}}
{{template "header.html" .}}

<div class="weui-tab">
    <div class="weui-navbar">
        <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
            问答
        </a>
        <a class="weui-navbar__item" href="#tab2">
            我的
        </a>
    </div>
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            <div class="weui-search-bar" id="searchBar">
                <form class="weui-search-bar__form" id="searchAll">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input type="search" class="weui-search-bar__input" name="searchInput" placeholder="搜索">
                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                        <i class="weui-icon-search"></i>
                        <span>搜索</span>
                    </label>
                </form>
                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
            </div>
            <div class="weui-panel__bd question_list">
            </div>
        </div>
        <div id="tab2" class="weui-tab__bd-item">
            <div class="weui-search-bar" id="searchBar">
                <form class="weui-search-bar__form" id="searchMine">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input type="search" class="weui-search-bar__input" name="searchInput" placeholder="搜索">
                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                        <i class="weui-icon-search"></i>
                        <span>搜索</span>
                    </label>
                </form>
                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
                <a href="/questionCTL/ask" class="weui-btn weui-btn_mini weui-btn_plain-default" style="margin-left: 5px; ">提问</a>
            </div>

            <div class="weui-panel__bd question_mine">
            </div>
        </div>
    </div>
</div>


{{template "footer.html" .}}
